.ui-dialog.ui-widget-content.ui-front{
  z-index: var(--jui-dialog-z-index);
}

.ui-dialog{
  width: 98% !important;
  max-width: 98% !important;
}

.ui-dialog.token-tree-dialog{
  width: 50% !important;
  max-width: 50% !important;
  margin-top: 15px;
}

.ui-dialog .ui-dialog-titlebar.ui-widget-header{
  line-height: 5px;
}

.ui-dialog > .ui-dialog-content.ui-widget-content{
  padding: 15px;
}

.ui-dialog ~ .ck-body-wrapper {
  --ck-z-modal: 1261;
}
.entity-browser-modal .ajax-progress-throbber{
  display: none;
}

.ck.ck-balloon-panel.ck-balloon-panel_with-arrow{
  z-index: 1262;
}
  