.entities-list:not(.entities-list--single-item),
.entities-list:not(.entities-list--single-item) {
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
}

.entities-list .item-container > .replace-button,
.entities-list .item-container > .edit-button {
  top: inherit;
  bottom: 0;
}

.entities-list .item-container > .entity-browser-remove-selected-entity,
.entities-list .item-container > .remove-button {
  top: inherit;
  bottom: 0;
}


[dir="ltr"] .entities-list .item-container.label,
[dir="ltr"] .entities-list .item-container.label {
  padding: var(--gin-spacing-s);
}
