.specific-types-entity-reference-browser-widget--container{
    display: table; width: 100%;
    margin-bottom: 35px;
}

.specific-types-entity-reference-browser-widget--container span{ display: table; width: 100%; margin-bottom: 5px;}
.specific-types-entity-reference-browser-widget--container span.paragraph-label{ margin-bottom: 15px; font-size: 14px;}