<span class="specific-types-entity-reference-browser-widget--container">
	<span class="paragraph-label">{{ label }}</span>
	<span class="paragraph-type"><b>{{ "Type" | t }}</b> : {{ type }}</span>
	{% if title %}
		<span class="paragraph-title"><b>{{ "Title" | t }}</b> : {{ title }}</span>
	{% endif %}
</span>